@import "base/variables";
@import 'base/animations';
* {
    font-family: 'Museo Sans Cyrl', Arial, Helvetica, sans-serif;
h1,
h2,
h3,
p,
ul,
address {
    margin: 0;
    padding: 0;
}

}
.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/testimonials';
@import 'blocks/testimonials-list';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';

